.star{
padding-left: 40%;
padding-right: auto;
font-size: 18px;
}
.review{
    font-weight: bold;
    font-size: 16px;
    padding-left: 20px;
}
.emailId{
    padding-left: 70%;
}
.maindiv{
    color:rgb(158, 67, 14);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5ptQf1wE5GyYLIzrv_FcTEH2uHDPr1sgvEw&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}