.maindiv{
    color:white;
    background-image: url("https://www.shutterstock.com/image-photo/businesswoman-pressing-five-stars-5-260nw-1342107362.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}