.example-icon {
   padding: 0 14px;
 }
 .example-spacer {
   padding-left: 65%;
   flex: 1 1 auto;
 }
 .bg_pic{
  width:100%;
   height: 40%;
   background-image:url(https://wallpaperaccess.com/full/3692735.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   opacity: 1;
 }
.font{
   font-size: 18px;
   font-weight: lighter;
}
.logofont{
   font-size: 70px;
   font-weight: bolder;
   font-style: italic;
   padding-left: 40%;
}
.search{
   padding-left: 35%;
   padding-right: auto;
   width: 38%;
   font-weight: lighter;
   padding-right: auto;
}
.desc{
   padding-bottom: 3%;
   padding-left: 30%;
   font-size: 38px;
   font-weight: lighter;
}
.f00ter{
   background-color: rgb(223, 223, 219);
   height: auto;
   width:auto;
}
.footerlogo{
   padding-top: 30px;
   padding-left: 120px;
   padding-right: auto;
   font-size: 40px;
   color: black;
   font-weight: bolder;
   font-style: italic;
}
.footer_desc_heading{
   padding-top: 70px;
   padding-left: 30px;
font-weight: lighter;
color: black;
font-size: 20px;
}
.footer_desc{
   font-size: 15px;
   padding-left: 30px;
   text-decoration:none;
   color:grey;
}
.desc_gap{
   padding-left: 80px;
}
.footer_para{
   padding-left: 80px;
   padding-right: auto;
   color: rgb(134, 131, 131);
}
.profile{
  border-radius: 50%;
  width:60px;
}
.prfspn{
  margin-right: 2%;
}
.menu{
  background-color: rgb(158, 67, 14);
  color:white;
}