<table mat-table [dataSource]="allReviews">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- Position Column -->
    <ng-container matColumnDef="reviewId">
      <th mat-header-cell *matHeaderCellDef>Review Id </th>
      <td mat-cell *matCellDef="let element"> {{element.reviewId}} </td>
    </ng-container>
    <ng-container matColumnDef="userEmailId">
        <th mat-header-cell *matHeaderCellDef> User E-mailId </th>
        <td mat-cell *matCellDef="let element"> {{element.userEmailId}} </td>
      </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="review">
        <th mat-header-cell *matHeaderCellDef> Review </th>
        <td mat-cell *matCellDef="let element"> {{element.review}} </td>
      </ng-container>
    <ng-container matColumnDef="gstNo">
      <th mat-header-cell *matHeaderCellDef> Gst No. </th>
      <td mat-cell *matCellDef="let element"> {{element.gstNo}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="star">
      <th mat-header-cell *matHeaderCellDef> Rating </th>
      <td mat-cell *matCellDef="let element"> {{element.star}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
